.action-bar-container {

	.row {
		padding: 10px 0px;
		background-color: $MeshWhite;
		border-bottom: 1px solid $MeshGrey;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.btn-default {
		border-radius: 60px;
		padding: 7px 15px;
		color: $MeshGreyUltraDark;
		border-color: $MeshGreyDark;
		background-color: transparent;
	}

	.btn-default:hover {
		color: $MeshBlue;
		border-color: $MeshBlue;
	}

}