.action-bar {
	height: 54px;
	margin-bottom: 10px;
}

div.test {
	padding-top: 10px;
	background-color: white;
	margin-left: 15px;
	margin-right: 15px;
	height: 100%;

	border-radius: 2px;
	border-color: $MeshGreyUltraLight;
	border-width: 1px;
	border-style: solid;
}
