// Component Imports

$NavBarHeight: 40px;

.item {
	background-color: #295185;
	width: 100%;
	margin-bottom: 1px;
	height: 60px;
	border-bottom: 1px solid #0066cc;
	border-left: 6px solid #3399ff;
}

.navpane {
	background-color: #295185;;
	float: left;
	width: 250px;
	height:1000px;

	h4 {
		color: white;
		font-size: 18px;
		padding-top: 20px;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 24px;
	}
}
