.chart-widget {
  
  .title {
    padding: 0px;
    h5 {
      color: $MeshBlackUltraLight;
      font-size: 14;
      font-weight: 500;      
    }
  }

  .subtitle {
    padding: 0px;
    p {
      color: $MeshGreyUltraDark;
      font-size: 10;
      font-weight: 400;      
    }
  }

  h5 {
    margin: 0px;
  }
}