#chart-id-group {
  margin-top: 0px;
}

.chart-widget {
  margin-top: 0px;

  .chart {
    margin-top: 5px;
  }

  .separator {
    height: 1px;
    background-color: $MeshGreyLight;
    border-bottom: none;
  }

  .title {
    padding: 0px;
    h5 {
      padding: 0px;
      font-weight: 700;
      font-size: 22px;
      color: $MeshBlackUltraLight;
      margin-bottom: 0px;
    }
  }

  .subtitle {
    padding: 0px;
    p {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 5px;
      color: $MeshGreyDark;
    }
  }

  .chart {
    padding: 0px;
  }

  h5 {
    margin: 0px;
  }
}
