.text-cell {
	cursor: pointer;
	p {
		white-space: nowrap;
	  width: 100%;                   
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
	
	.blank-content {
		text-transform:capitalize;
		color: $MeshGreyDark;
		font-weight: 400;
		font-style: italic;
	}
	
}