
$NavItemHeight: 60px;
$NavItemContainerTopPadding: 28px;
$NavItemContainerLeftMargin: 12px;

.nav-item {
	display: flex;
	align-items: center;
	background-color: transparent;
	width: 100%;
	font-size: 1.2em;
	height: $NavItemHeight;

	:hover {
		a {
			color: $MeshBlueLight;
		}

		.glyphicon {
			color: $MeshBlue;
		}
	}
}

.nav-item-left-hlbox-container {
	display: flex;
	align-items: center;

	.nav-item-left-hlbox {
		background-color: none;
		height: 40px;
		width: 3px;
	}
}

.nav-item.active {
	a {
		color: $MeshBlue;
		text-decoration: none;
	}

	.glyphicon {
		color: $MeshBlue;
	}

	.nav-item-left-hlbox {
		background-color: $MeshBlue;
	}
}

.nav-item-container {
	display: table;
	margin-left: $NavItemContainerLeftMargin;
	background-color: transparent;

	.glyphicon {
		vertical-align: middle;
		float: left;
		color: $MeshGreyDark;
	}

	a {
		vertical-align: middle;
		float: left;
		color: $MeshGreyDark;
		font-size: 14px;
		margin-left: 12px;
		font-weight: 700;
	}

	a:hover {
		text-decoration: none;
	}
}
