
$NavItemHeight: 60px;
$NavItemContainerTopPadding: 28px;
$NavItemContainerLeftMargin: 24px;

.nav-item {
	background-color: transparent;
	width: 100%;
	margin-bottom: 1px;
	height: $NavItemHeight;
	font-size: 1.5em;
	
	a {
		color: $MeshBlack;	
	}

	a:hover {
		text-decoration: none;
	}

}

.nav-item:hover {
	border-left: 3px solid #cc7a6f;
	padding-left: -3px;
	color: #FFFFFF;
	text-decoration: none;
	
}

.nav-item-container {
	display: block;
	padding-top: $NavItemContainerTopPadding;
	margin-left: $NavItemContainerLeftMargin;
	background-color: transparent;

	.glyphicon {
		float: left;
		margin-top: 1px;
		color: black;
	}

	a {
		float: left;
		color: $MeshBlack;
		font-size: 18px;
		font-weight: 700px;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 14px;
	}

	span {
		color: $MeshBlack;
	}
}
