
$NavItemHeight: 60px;
$NavItemContainerTopPadding: 28px;
$NavItemContainerLeftMargin: 24px;

.nav-item {
	display: flex;
	align-items: center;
	background-color: transparent;
	width: 100%;
	height: $NavItemHeight;
	font-size: 1.2em;
}

.nav-item.active {
	background-color: $MeshGreyUltraLight;
	border-left: 4px solid gray;
}
.nav-item:hover {
	border-left: 4px solid gray;
	padding-left: -3px;
	color: #FFFFFF;
	text-decoration: none;
}

.nav-item-container {
	display: table;
	margin-left: $NavItemContainerLeftMargin;
	background-color: transparent;

	.glyphicon {
		vertical-align: middle;
		float: left;
		color: black;
	}

	a {
		vertical-align: middle;
		float: left;
		color: $MeshBlack;
		font-size: 18px;
		font-weight: 700px;
		margin-left: 12px;
	}

	a:hover {
		text-decoration: none;
	}
}

.active {
	font-weight: 500;
}
