div.initials-bubble {
	display: inline-block;
	background-color: #F1F1F1;
	border-radius: 30px;
	height: 60px;
	width: 60px;
	margin-top: 16px;

	p {
		color: black;
		text-align: center;
		line-height: 60px;
		font-size: 32px;
		font-weight: 700;
	}
}
