.data-table-row {
	overflow: scroll;

	.header {
		margin-bottom: 1.5em;

		h1, h2, h3, h4 {
			margin-top: 0px;
			font-weight: 300;
		}
	}
	.public_fixedDataTable_main {
		margin-right: 0px;
	}
	.public_fixedDataTableCell_main {
		background-image: none;
	}

	.public_fixedDataTable_header {
		background-image: linear-gradient(white, white);
		.public_fixedDataTableCell_cellContent {
			font-weight: bold;
			color: $MeshBlackLight;
		}
	}

	.public_fixedDataTableRow_highlighted {
		background-color: transparent;
	}


	.public_fixedDataTableRow_highlighted {
		background-color: transparent;
	}

	.public_fixedDataTableCell_main {
		background-color: transparent;
	}

	// Commenting out will give the rows an alternating color
	.public_fixedDataTableRow_main {
		background-color: transparent;
	}

	.fixedDataTableRowLayout_rowWrapper {
		border: 1px solid #black;
		border-bottom-style: solid;
		border-bottom-color: $MeshGreyUltraLight;
		border-bottom-width: 1px;
	}
}
