.data-table-row {
	overflow: scroll;

	.header {
		margin-bottom: 1.5em;

		h1, h2, h3, h4 {
			margin-top: 0px;
			font-weight: 300;
		}
	}

	//------------------
	// Table Header
	//------------------

	.public_fixedDataTable_header {
		background-image: linear-gradient(white, white);
		// Header Content
		.public_fixedDataTableCell_cellContent {
			font-weight: bold;
			color: $MeshBlackLight;
		}
		.public_fixedDataTableCell_main {
			background-image: none;
		}
	}

	.public_fixedDataTableCell_main {
		background-color: transparent;
		.hover {
			background-color: #F2F2F2;
		}
	}
	.public_fixedDataTableCellGroupLayout:hover {
		background-color: #F2F2F2;
	}

	.public_fixedDataTableRow_main {
		background-color: transparent;
	}

	// // Provides the row horizontal lines
	// .fixedDataTableRowLayout_rowWrapper {
	// 	border: 1px solid #black;
	// 	border-bottom-style: solid;
	// 	border-bottom-color: $MeshGreyUltraLight;
	// 	border-bottom-width: 1px;
	// }

	.fixedDataTableCellGroupLayout_cellGroup:hover {
		background-color: #F2F2F2;
	}
}
