.users-container {

	// Top bar selector button
	.input-group {
		margin-left: 0px;

		span {
			background: none;
			border: none;
		}

		input {
			margin: 0;
			position: absolute;
		}
	}
}

.users-table {
	.header {
		margin-bottom: 1.5em;

		h1, h2, h3, h4 {
			margin-top: 0px;
			font-weight: 300;
		}
	}

	.userTableWrapper {
		overflow: scroll;

		// Top Row Columns
		.fixedDataTableLayout_main {
			width: 100%;
			background-color: transparent;

			.fixedDataTableLayout_rowsContainer {
				background: transparent;
			}

			.public_fixedDataTableCell_cellContent {
				color: $MeshBlack;

			}
			.public_fixedDataTableCell_main {
				font: WorkSansFont;
			}
		}

		.fixedDataTableCellLayout_main {
			background-color: transparent;
		}

		.public_fixedDataTableCell_main {
			background-image: none;
		}

		.public_fixedDataTable_header {
			background-image: linear-gradient(white, white);
			.public_fixedDataTableCell_cellContent {
				font-weight: bold;
				color: $MeshBlackLight;
			}
		}

		.public_fixedDataTableRow_highlighted {
			background-color: transparent;
		}


		.public_fixedDataTableRow_highlighted {
			background-color: transparent;
		}

		.public_fixedDataTableCell_main {
			background-color: transparent;
		}

		// Commenting out will give the rows an alternating color
		.public_fixedDataTableRow_main {
			background-color: transparent;
		}

		.fixedDataTableRowLayout_rowWrapper {
			border: 1px solid #black;
			border-bottom-style: solid;
			border-bottom-color: $MeshGreyUltraLight;
			border-bottom-width: 1px;
		}
	}
}
