$ProviderCellHeight: 3em;

.provider-cell {
	// Logo
	background-color: white;
	border-radius: 6px;
	border-style: solid;
	border-color: $MeshGrey;
	border-width: 1px;

	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;

	min-height: 180px;

	.provider-container {
		bottom: 20px;
	}

	.btn {
		background-color: $MeshGreen;
		border: none;
		border-radius: 40px;
		color: $MeshWhite;
		font: $MeshFont;
		font-weight: 500;
		font-size: 1.25em;
	}

	img {
		width: auto;
		max-width: 100px;
		height: 100px;
		margin: auto;
		padding: 10px 0px;
		border-radius: 10px;
	}

}

.provider-row {
	display: flex;
	align-items: center;
	margin-bottom: 0.5em;
}
