$ProviderCellHeight: 3em;

.provider-cell {
	// Logo
	border-radius: 10px;
	border-style: solid;
	border-color: $MeshGreyUltraLight;
	border-width: 1px;

	margin-left: 10px;
	margin-right: 10px;

	text-align: center;

	.btn {
		display: block;
		float: none;
		margin-left: auto;
    margin-right: auto;
		margin-top: 10px;
		margin-bottom: 16px;
	}

	.logo-img {
		display: block;
		float: none;
		margin-top: 16px;
		margin-left: auto;
    margin-right: auto;

		border-radius: 10px;
		padding: 6px;

		min-height:100px;
		min-width: 100px;
		height: 100px;
		width: 100px;
	}
}

.provider-row {
	display: flex;
	align-items: center;
	margin-bottom: 0.5em;
}
