$ProviderCellHeight: 2em;

.provider-cell {
	color: #fff;
	font-size: 4em;
}

.provider-row {
	display: flex;
	align-items: center;
	margin-bottom: 1.0em;
}

.switch-container {
	margin-top: 0.5em;

}