.info-widget {
  .separator {
    padding: 0px 10px;
    margin-bottom: 10px;
    height: 1px;
    background-color: $MeshGreyLight;
    border-bottom: none;
  }

  .title {
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    color: $MeshGreyLightDark;
  }

  dt {
    width: 80px;
    text-align: left;
    font-weight: 300;
  }

  dd {
    margin-left: 90px;
    font-weight: 400;
  }

  .value-email {
    white-space: nowrap;              
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .value-url {
    white-space: nowrap;              
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .info-field {
    padding: 2px;
  }
  
  .pill-container {
    margin: 2px 0px;
    margin-right: 5px;
  }

}