.organizations-component {
	
	.org-panel-enter {
	  right: -40%;
	}

	/**
	 * Org Panel Side Animation Props
	 */
	.org-panel-enter.org-panel-enter-active {
	  right: 0px;
	  transition: right 500ms ease-out;
	}

	.org-panel-leave {
	  right: 0px;
	}

	.org-panel-leave.org-panel-leave-active {
		right: -40%;
		transition: right 500ms ease-in;
	}
	
	/**
	 * User Panel Side Animation Props
	 */
	.user-panel-enter {
	  right: -40%;
	}

	.user-panel-enter.user-panel-enter-active {
	  right: 0px;
	  transition: right 500ms ease-out;
	}

	.user-panel-leave {
	  right: 0px;
	}

	.user-panel-leave.user-panel-leave-active {
		right: -40%;
		transition: right 500ms ease-in;
	}

}