.user-detail-form {

	.user-content {
		margin-bottom: 2em;
	}

	.row {
		padding: 10px 0px;
	}

	.col-xs-12 {
		display: inline-block;
	}

	dt {
		width: 80px;
		text-align: left;
		font-weight: 300;
	}

	dd {
		margin-left: 90px;
		font-weight: 400;
	}
	
	.header-row {
		background-color: $MeshWhiteDark;
	}

	.user-detail-form {
		color: $MeshBlack;
	}	

	.info-field {
		padding-top: 5px;
	}

	.lineitem-title {
		margin-top: 10px;
	}

	h5 {
		font-weight: 500;
	}

	a {
		color: $MeshBlueDark;
	}

	table {
		a {
			font-weight: 400;
		}
	}

	.transaction-row {
		.pill-row {
			padding: 0px;
		}
	}
}
