.loading-text {
	display: block;
	text-align: center;
	margin-top: 2em;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-weight: 100;
}

.loading-error {
	display: block;
	text-align: center;
	margin-top: 2em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;	
}

.sk-cube-grid {
	margin-top: 10em;
	height: 15em;
	width: 15em;
}