
#root, html, body, .login-container {
    height: 100%;
}

.react-root {
	background: $MeshWhiteDark;
	height: 100%;
}

.brand {
	font-size: 1.5em;
	padding-bottom: 25px;
}

.login-container {
	display: table;
	.vertical-center-row {
	  display: table-cell;
	  vertical-align: middle;
	}
	
	.flash-container {
		position: absolute;
		top: -80px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		.alert {
			position: relative;
			width: inherit;
		}
	}

	.glyphicon {
		margin-right: 5px;
	}

	.form-group {
		margin: 0px;

		input {
			background-color: $MeshWhite;
			border-radius: 0px;
		}

		#signUpForm {
			margin: 5px 0px;
		}
		
		.email-form {
			margin-bottom: 5px;
		}

		.pass-form {
			margin-bottom: 10px;
		}

		.form-control {
			background-color: $MeshWhite;
			font-weight: 300;
		}

		.form-control:focus {
			border-color: $MeshBlue;
		}
	}

	.button-group {
		margin-top: 10px;
	}

	.login-a:focus {
		text-decoration: none;
		outline-width: 0px;
	}

	.login-button {
		font-weight: 400;
	}

	.sign-in {
		color: $MeshBlack;
		font-size: 1em;
	}

	button {
		font-family: $MeshFont;
		border-radius: 0px;

	}

	.or-span {
		margin: 0px 5px;
	}

	// Flash Animation
	.example-enter {
	  opacity: 0.01;
	}

}

.error-flash-enter {
  opacity: 0.01;
}

.error-flash-enter.error-flash-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.error-flash-leave {
  opacity: 1;
}

.error-flash-leave.error-flash-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}