
#root, html, body, .login-container {
    height: 100%;
}

.react-root {
	background: $MeshWhiteDark;
	height: 100%;
}

.brand {
	font-size: 1.5em;
	padding-bottom: 25px;
}

.login-container {
	display: table;
	.vertical-center-row {
	  display: table-cell;
	  vertical-align: middle;
	}

	.form-group {
		margin: 0px;

		input {
			background-color: $MeshWhite;
			border-radius: 0px;
		}
		
		.email-form {
			margin-bottom: 5px;
		}

		.pass-form {
			margin-bottom: 10px;
		}

		.form-control {
			background-color: $MeshWhite;
			font-weight: 300;
		}

		.form-control:focus {
			border-color: $MeshBlue;
		}
	}

	.sign-in {
		color: $MeshBlack;
		font-size: 1em;
	}

	button {
		font-family: $WorkSansFont;
		border-radius: 0px;

	}
}
