// Component Imports

.navbar-default {
	background-color: $MeshWhite;
	min-height: $NavBarHeight;
	height: $NavBarHeight;
	border-radius: 0px;
	margin-left: 0px;

	.container {
		width:100%;
		max-height: $NavBarHeight;
		height:$NavBarHeight;

		.navbar-header {
			align-items: center;
			display: flex;
			justify-content: center;

			max-height: $NavBarHeight;
			height:$NavBarHeight;

			button {
				max-height: $NavBarHeight;
				height:$NavBarHeight;
			}
		}
	}

	.right-links-wrapper {
		height: 100%;
	}
	
	.logo-box {
		img {
			align-self: flex-start;
			max-width: 80px;
		}
	}

	#right-nav-menu-a {
		background-color: #fff;
	}

	#right-nav-menu {
		outline-width: 0px;
		margin-right: 5px; 
		border-radius: 5px;
		.dropdown-line-item {
			padding: 4px 0px;
			a {
				font-weight: 400;
			}
		}	
	}


	// Right Buttons
	.navbar-right {
		height:100%;
		align-items: center;
		display: flex;
		justify-content: center;
		font-size: 1.2em;

		.top-nav-link {
			a:hover {
				text-decoration: none;
				color: $MeshBlue;				
			}
		}

		.open {
			a:hover {
				background-color: $MeshWhite;
			}
		}

		.profile-line {
			display:flex;
			align-items: center;
			justify-content: center;

			a {
				display: inline;
				padding-right: 15px;
				color: $MeshBlackLight;
				font-weight: 500;
			}

			a:hover {
				text-decoration: none;
				color: $MeshBlue;				
			}

			img {
				display: inline;
			}
		}

		// Avatar img
		.avatar {
			width: 30px;
			border: 1px solid $MeshGreyDark;
			margin-right: 20px;
		}

	}

}


