// Component Imports

.navbarDefault {
	background-color: $MeshNavBlue;
	border-bottom: 2px solid $MeshBlue;
	min-height: $NavBarHeight;
	height: $NavBarHeight;
	border-radius: 0px;
	margin-left: 0px;

	.container {
		width:100%;
		max-height: $NavBarHeight;
		height:$NavBarHeight;

		.navbar-header {
			max-height: $NavBarHeight;
			height:$NavBarHeight;

			button {
				max-height: $NavBarHeight;
				height:$NavBarHeight;
			}
		}
	}

	// Text Coloring
	a {
		color: white;
	}

	a:hover {
		text-decoration: none;
	}

	a.bold {
		font-weight: 700;
	}

	a.light {
		font-weight: 600;
	}

	a.navbar-header-brand {
		color: white;
		float: left;
		height: 50px;
		padding: 15px 15px;
		line-height: 20px;
		font-size: 26px;
		font-weight: 700;
	}

	ul {
		margin-top: 0px;
		height: 100%;
	}

	// Nav Items
	li {
		padding: 10px 5px;

		a {
			font-weight: 700;
			padding: 10px 10px;
			height: 100%;
			font-size: 14px;
		}

		a:active {
			background-color: #3399ff;
		}

		a:focus {
			background-color: #3399ff;
		}
	}

	.active {
		a {
			border-bottom: 3px solid $MeshBlue;
			color: $MeshWhite;
			font-weight: 400;
		}
	}
}


.nav {
	li {
		a:hover {
			text-decoration: none;
			background: none;
		}
	}

}
