// Component Imports

$NavBarHeight: 60px;

.navbarDefault {
	background-color: #3399ff;
	border-bottom: 2px solid #295185;
	min-height: $NavBarHeight;
	height: $NavBarHeight;
	border-radius: 0px;
	margin-left: 0px;

	.container {
		width:100%;
		max-height: $NavBarHeight;
		height:$NavBarHeight;

		.navbar-header {
			max-height: $NavBarHeight;
			height:$NavBarHeight;

			button {
				max-height: $NavBarHeight;
				height:$NavBarHeight;
			}
		}
	}

	// Text Coloring
	a {
		color: white;
	}

	a.navbar-header-brand {
		color: white;
		float: left;
		height: 50px;
		padding: 15px 15px;
		line-height: 20px;
		font-size: 26px;
		font-weight: 700;
	}

	ul {
		margin-top: 16px;
		height: 100%;
	}

	// Nav Items
	li {
		padding: 0px 5px;

		a {
			font-weight: 700;
			padding: 0px 10px;
			height: 100%;
			font-size: 14px;
		}


		a:hover {
			border-bottom: 2px solid white;
			background-color: #3399ff;
		}

		a:active {
			background-color: #3399ff;
		}

		a:focus {
			background-color: #3399ff;
		}
	}

	.active {
		a {
			border-bottom: 3px solid $MeshBlue;
			color: $MeshWhite;
			font-weight: 400;
		}
	}
}
