.org-detail-form {

	.row {
		padding: 10px 0px;
	}

	.col-xs-12 {
		display: inline-block;
	}

	dt {
		width: 80px;
	}

	dd {
		margin-left: 90px;
	}
	
	.header-row {
		background-color: $MeshWhiteDark;
	}

	.org-detail-form {
		color: $MeshBlack;
	}	

	.info-field {
		padding-top: 5px;
	}

	.lineitem-title {
		margin-top: 10px;
	}

	.person-row {
		cursor: pointer;
	}

	h5 {
		font-weight: 300;
	}
}
