.user-detail-component {
	height: 100%;
	background-color: $MeshWhiteDark;
	
	.container-row {
		height: 100%;
		padding: 10px 0px;
	}

	.leading-continer {
		height: 100%;
		background-color: $MeshBlue;
	}

	.main-continer {
		height: 100%;
		background-color: $MeshGreen;
		@media(min-width: $screen-sm) {
			padding: 0px;
		}

		.row {
			margin-left: 0px;
			margin-right: 0px;
		}
	}

	.trailing-container {
		height: 100%;
		background-color: red;
	}

	.content-container {
		height: 100%;
		background-color: $MeshWhite;
		border: solid $MeshGrey 1px;
		border-radius: 3px;
		.row {
			margin-left: 0px;
			margin-right: 0px;
		}
	}

	.graph-continer {
		width: 100%;
		padding-bottom: 0%;
	}

	

}