.react-root {
	background-color: white;
	display: inline-block;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

// Standard Header
.header {
	margin-bottom: 1.5em;

	h1, h2, h3, h4 {
		margin: 0px;
		margin-top: 0.25em;
		margin-bottom: 5px;
		font-weight: 300;
	}
}

// Wrapper Container Sytlying
.main-section {
	display: inline-block;
	background-color: blue;
	width: 100%;
	height: 1000px;
}

.container-wrapper {
	background-color: white;
	float: left;

	// Todo, change to $NavPaneWidth
	width: calc(100% - 220px);

	// Todo, change to $NavBarHeight;
	height: calc(100% - 60px);
	padding:1em;

	border-radius: 5px;
	box-shadow: inset 0px 0px 1px rgba(0,0,0,0.9);
}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
     color: $MeshWhite;
     font-size: 1em;
     font-weight: 400;
 }

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $MeshWhite;
    font-size: 1em;
    font-weight: 400;
   	opacity:  1;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
	    color: $MeshWhite;
    font-size: 1em;
    font-weight: 400;
    opacity:  1;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $MeshWhite;
    font-size: 1em;
    font-weight: 400;

}
