.react-root {
	background-color: white;
	display: inline-block;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

// Standard Header
.header {
	margin-bottom: 1.5em;

	h1, h2, h3, h4 {
		margin: 0px;
		margin-top: 0.25em;
		margin-bottom: 5px;
		font-weight: 300;
	}
}

// Wrapper Container Sytlying
.main-section {
	display: inline-block;
	background-color: blue;
	width: 100%;
	height: 1000px;
}

.container-wrapper {
	background-color: white;
	float: left;
	padding:1em;
}
